PrismLauncher-Windows-MinGW-w64-Portable-b1113f4-Debug.zip filter=lfs diff=lfs merge=lfs -text
PrismLauncher-Windows-MinGW-w64-Portable-ba07a13-Debug.zip filter=lfs diff=lfs merge=lfs -text
PrismLauncher-Windows-MinGW-w64-Portable-8136295-Debug.zip filter=lfs diff=lfs merge=lfs -text
